.experience-lvl__wrapper{
	display: flex;
	align-items: center;
	/* padding: 10px; */
}
.experience-lvl__wrapper > div:first-child{
	flex-basis: 30%;
}

.experience-lvl__wrapper > div:first-child>p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.experience-bar{
	position: relative;
	flex-basis: 70%;
	height: 20px;
	background-color: gray;
	text-align: center;
	align-items: center;
}
.experience-bar>span{
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%, -50%);
}

.experience-bar__gained{
	width: 55%;
	height: 100%;
	background-color: green;
}