.nav{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 30px;
}

.nav>ul{
  display: flex;
  height: 100%;
  background-color: azure;
  /* margin: 5px; */
}

.nav>ul>li{
  display: flex;
  width: calc(100% / 5);
  list-style: none;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
