* {
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}
body{
	margin-top: 30px;
}

.game__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col-6 {
	width: 40%;
	flex-basis: 40%;
	display: inline-block;
	background-color: white;
	padding: 20px 20px 10px;
	border: 1px solid black;
}

.col-12{
	width: 100%;
	flex-basis: 100%;
}

.destination{
	height: 300px;
	font-size: 40px;
	text-align: center;
	border: 2px solid red;
}

div>.destination:first-of-type{
	margin-top: 30px;
}
